.App{
    background-attachment: fixed;
    background-position: center; 
    background-color: #ffffff;
    padding-top: 4rem;
    min-height: vh; 
}

.navbar{
    background-color: #000000 !important;
}

.card-img-top-sprite {
    width: 100px;
    height: 100px;
}

.table-light{
    background-color:#f7f7f7 !important;
}

.table-fill{
    background-color:#ffffff !important;
}



.d-block{
    background-color: #110300 !important;
}

.bg-card{
    background-color: #e65529!important;
    background-image: url("pokeball.png");
    background-size: 35%;
    background-position: right 695px center; 
    background-repeat: no-repeat;
}

.footer-bg{
    background-color:#ffffff !important;
}

.card-header-bg{ 
    background-color:#ff7a51 !important
}
