.App{
    background-attachment: fixed;
    background-position: center; 
    background-repeat: repeat;
    background-color: #ffffff;
    padding-top: 4rem;
    min-height: vh; 
}

.navbar{
    background-color: #e64529 !important;
}

