.App{
    background-attachment: fixed;
    background-position: center; 
    background-repeat: repeat;
    background-color: #fafafa;
    padding-top: 4rem;
    min-height: vh; 
}

.navbar{
    background-color: #e62c29 !important;
}